
* {
    background-image: url('img/background.jpg');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.logout-button {
    
    text-decoration: none;
    color: #fff;
    background-color: #ff4b5c;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #e04350;
}

/* Dashboard content */
.dashboard-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
nav{
    background-color: #2c3e50;
    padding: grid;
    border-radius: 8px;
    margin-bottom: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    margin-bottom: space-around;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.2 rem;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #ff4b5c;
}


.section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.appointment-list {
    list-style: none;
}

.appointment-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #c0392b;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .dashboard-content {
        grid-template-columns: 1fr;
    }
}

